<!DOCTYPE html>
<html lang=“ja”>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>kadai3</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <div id="async">
        <h1 id="title">ようこそ</h1>
        <div id="category">
            <p id="cate"></p>
            <p id="diff"></p>
        </div>      
        <hr>
        <p id="p">以下のボタンをクリック</p>
        <hr>
        <button id="btn" name="btn">開始</button>
    </div>
    <div id="answer"></div>
</body>

<script src="javascripts/script.js"></script> 

</html>